<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="actordetails1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Hrithik"></constructor-arg>
        <constructor-arg name="gender" value="Male"></constructor-arg>
        <constructor-arg name="age" value="55" type="int"></constructor-arg>

    </bean>

    <bean id="actordetails2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Ayushman"></constructor-arg>
        <constructor-arg name="gender" value="Male"></constructor-arg>
        <constructor-arg name="age" value="48" type="int"></constructor-arg>
    </bean>


    <bean id="moviecast1" class="com.stackroute.domain.Movie" scope="prototype" autowire="byName">

    </bean>


    <bean name="moviecast2,moviecast3"  scope= "prototype" class="com.stackroute.domain.Movie" autowire="constructor">

    </bean>


</beans>